*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    width: 100vw;
    position: fixed;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;

}
.item{
    width: 24%;
    height: 100%;
    background-color: #231c68;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: space-evenly;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.item .top img{
    border-radius: 50%;
    margin-bottom: 10px;
    width: 170px;
    filter: drop-shadow(0 0 5px white);
}
.item .top h3{
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.item .top ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.item .top ul li a{
    color: #fff;
    font-size: 30px;

    transition: color 0.3s ease;
}
.item .top ul li a:hover svg{
    color: #03dcf9;
     transform:scale(1.1);
     transition:  0.3s ease;
}

.line{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 5px;
   justify-content: center;
   align-items: center;
}
.line1{
    width: 80%;
   border-bottom: 2px solid #a59fe9;
}
 .line2 {
      width: 60%;
    border-bottom: 2px solid #a59fe9;
}
 .line3 {
    width: 40%;
    border-bottom: 2px solid #a59fe9;
}

.bottom
{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.bottom > ul {
  width: 65%;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  text-align: left;
  word-spacing: 15px;

}

.bottom > ul > li {
  position: relative;
  cursor: pointer;
  color: white;
  padding-bottom: 5px;
  transition: 0.2s ease;
}
.bottom > ul > li  a {
text-decoration: none;
color: inherit;
font-size: 18px;
}

.bottom > ul > li::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #a59fe9;
  transition: width 0.9s ease;
}
.bottom > ul > li:hover::after {
  width: 50%;
  left: 0%;
  right: auto;
}

.bottom>ul>li:hover svg{
 color: #03dcf9;
 filter: drop-shadow(0 0 2px #080808);
}
.bottom>ul>li:hover span{
     filter: drop-shadow(0 0 2px #080808);
}
.active{

  width: 20%;
  height: 1px;
  /* background-color: #a59fe9; */
}
.active svg, .active span{
     color: #03dcf9;
      filter: drop-shadow(0 0 2px #080808);
}

/** Home component css */

.Home{
    width:100%;
}

.hidden-content{
    width: 100%;
    height: 22%;
}
.heading {
    width: 100%;
    height: 100%;
    background-color: #100a4a;
    color: white;
    display: flex;
    justify-content: center;
    }

.heading header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
    width: 70%;
    gap: 10px;
}
.heading header h1 {
    font-size: 74px;
    font-family: "Raleway", sans-serif;
    filter: drop-shadow(0 0 5px #060606);
}
.heading header  #typedText {
    font-size: 23px;
    font-family: "Raleway", sans-serif;
    margin-left: 10px;
    height: 10vh;
    filter: drop-shadow(0 0 5px #060606);
    
}
.about{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #333;
    padding: 20px;
    margin-top: 10px;
    margin-left: 30px;
   
}
.up{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    gap: 15px;
}
.up span{
    border-bottom: 3px solid black;
    width: 4.5%;
    border-color:#392da2;
}
.up h1{
    color: #231c68;
}
.up > p{
    width: 100%;
    line-height: 24px;
   
}
.down{
    position: relative;
    display: flex;
    width: 100%;
    height: 350px;
 
}
.down .left{
    position: relative;
    width: 40%;
    height: 100%;
}
.down .left img{
    position: absolute;
    left: 0;
    width: 80%;
    /* height: 340px; */
    filter: drop-shadow(0 0 4px #060606);
    z-index: 2;
    transition: 0.3s ease-in-out;

}
.left >p{
  position: absolute;
  bottom: 8px;
  left: 24%;
  font-size: 24px;
  font-weight: bold;
   filter: drop-shadow(0 0 2px #08bbf2);
    transition: 0.3s ease-in-out;
}


.down .right{
    position: absolute;
    height: 100%;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    gap: 10px;
}
.down .right > h1{
    font-size: 30px;
    font-weight: bold;
    color: #100a4a;
}
.down .right > p{

    height: 40%;
    width: 100%;
    line-height: 24px;
    color: #333
}
.right .pinfo{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 10px;
    column-width: 40%;
}
.pinfo p{
    color: #201a61;
}
.pinfo p i{
 margin-right: 3%;
}
.pinfo p span{
    color: black;
}
.pinfo p a{
    text-decoration: none;
    color:#0376f9
}
.pinfo p a:hover{
    color:#03b7f9;
}

/** Project component css */

::-webkit-scrollbar{
    display: none;
}
.project {
    width: 100%;
    /* height: 100vh; */
    padding: 40px 25px;
    background-color: #e1e0e04e;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    
}
.project h1 {
    color: #100a4a;
    font-size: 30px;
}
.project span {
    display: flex;
    width: 50px;
    height: 3px;
    color:transparent;
    background-color: #392da2;
}
.project .pro_para {
    width: 70vw;
    line-height: 22px;
}
.project .pro_container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,35%);
     grid-template-rows: repeat(3,240px);
    gap: 100px;
    justify-content: center;
}
.p_con{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 5px #060606);
    gap: 20px;
    background-size: cover;
    transition: 0.3s ease-in-out;
  

}
.p_con:first-child {
    background-image: url("/p1\ \(4\).png");
   
}.p_con:nth-child(2) {
    background-image: url("/p1\ \(2\).png");
   
}.p_con:nth-child(3) {
    background-image: url("/p1\ \(3\).png");
   
}
.p_con:nth-child(4) {
    background-image: url("/p1\ \(5\).png");
   
}
.p_con:nth-child(5) {
    background-image: url("/p1\ \(1\).png");
   
}
.p_con:nth-child(6) {
    background-image: url("/p1.png");
   
}
.p_con:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.head{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(178, 178, 5);
}
.head h2{
    background-color: #2f3236;
    padding: 10px 5px;
    width: 100%;
    text-align: center;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a{
    text-decoration: none;
    color:white;
    background-color:#100a4a;
    padding: 10px 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.btn a:hover{
    background-color: #392da2;
    color: black;
}

/** Skills component css */

/* ^skills section */
.skills{
    width: 100%;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    
}

.skills>h1{
    font-size: 30px;
    color: #100a4a;
}
.skills>span{
    background-color: #231c68;
    width: 50px;
    height: 3px;
    color: transparent;
}
.s_para{
    width: 70vw;
    padding: 10px 0px;
}
.s_para>p{
      line-height: 22px;
}

.skill_con{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    
}
.sec{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.sec .sub_sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.s1{
    display: flex;
    justify-content: space-between;
    color: #100a4a;
}
.s2{
    width: 100%;
    height: 12px;
    display: flex;
    background-color: #dcdddf;
}
.s2 .s2_1{
    height: 100%;
    background-color: #201a61;
}
#bar1{
width: 100%;
}
#bar2{
width: 90%;
}
#bar3{
width: 75%;
}
#bar4{
width: 85%;
}
#bar5{
width: 60%;
}
#bar6{
width: 40%;
}
#bar7{
width: 80%;
}
#bar8{
width: 75%;
}
#bar9{
width: 70%;
}
#bar10{
width: 95%;
}

.certificat_con{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
    /* overflow-x: scroll; */
    transition: 0.9s linear;
    
}
.cr{
    width: 90%;
    height: 320px;
    background:linear-gradient(135deg, #212025, #4f10d8);
    border-radius: 8px;
    position: relative;
    border: 1px solid black;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}


.cr img{
    width: 75%;
    height: 80%;
    margin: auto;
}
.cr button{
    width: 40%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8px;
    transition: all 0.8 ease-in-out;
}
.cr button:hover{
    color:#03b7f9;
    
}
.display-certificate{

    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(151, 149, 149, 0.541);
    justify-content: center;
    align-items: center;
    display: none;
}
.display-certificate img{
    width: 70%;
}
.display-certificate h1{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
}

/*^ Achievement section */


.achievements{
    width: 100%;
    padding: 40px 25px;
    display: flex;
     background-color: white;
    flex-direction: column;
    gap: 20px;
}

.achievements>h1{
    font-size: 30px;
    color: #100a4a;
}
.achievements>span{
    background-color: #231c68;
    width: 50px;
    height: 3px;
}
.s_para{
    width: 70vw;
    padding: 10px 0px;
}
.s_para>p{
      line-height: 22px;
}
.achievement_con{
    margin-top: 100px;
    width: 100%;
    display: flex;
    gap: 20px;
    height: 48vh;
}
.ach{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items:center;
    width: 30%;
    height: 40vh;
    margin: 2px auto;
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}
.ach h1 > sup{
    font-size: 10px;
}
.ach img{
    width: 90%;
    height: 90%;
    position: absolute;
    /* padding: 0px 15px; */
    border-radius: 60%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    z-index: 2;
}
.ach h1{
    font-size: 2px;
    color: #100a4a;
    margin-top: 30px;
    padding: 0 30px;
     transition: 0.4s;
}
.ach p{
    font-size: 6px;
    color: #333;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
    position: absolute;
    z-index: 1;
     transition: 0.2s ease ;
}
.ach{
    transform: translateY(20%);
    border-radius: 20%;
    height: 45vh;
}
.ach img{
    width: 75%;
    height: 65%;
   transform: translateY(-80%);
    border-radius: 20%;
}
.ach h1{
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 10px;
}
.ach p{
    font-size: 14px;
    text-align: justify;
    transform: translateY(20%);
}
.hidden-achievements {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s linear, transform 0.6s linear;
}

.hidden-achievements.visible {
  opacity: 1;
  transform: scale(1);
}


/**^ Resume component css */
.resume{
    width: 100%;
    overflow: scroll;
    padding: 40px 25px;
    background-color: #fff;
    position: relative;
    
}
.resume>h1{
    color: #100a4a;
}
#r-span{
    display: block;
    background-color: #231c68;
    height: 3px;
    width: 50px;
    margin-top: 10px;
}
.resume >.hidden-content{
    border: 1px solid black;
    width: 70%;
    height: auto;
    margin: 10px auto;
    background-color: rgba(237, 232, 232, 0.385);
}

/* ^contact section */


.contact{
    width: 100%;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
}

.contact>h1{
    font-size: 30px;
    color: #100a4a;
}
.contact>span{
    background-color: #231c68;
    width: 50px;
    height: 3px;
    color: transparent;
}
.s_para{
    width: 70vw;
    padding: 10px 0px;
}
.s_para>p{
      line-height: 22px;
}

.contact_con{
    display: flex;
    padding: 20px 0px;
    gap: 40px;
}
.c_left{
    width: 45%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(143, 142, 142, 0.248);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20PX;
}
.contact_item1{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.contact_item1 H1{
    margin-top:25px;
    display: flex;
    font-size: 26px;
    font-weight: normal;
    gap: 10px;
}
.contact_item1 h1 > span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #201a61;
    padding: 5px 6px;
    border-radius: 50%;
}
.contact_item1 h1 > span>svg{
    color: white;
    font-size: 14px;

}
.contact_item1 p{
    margin-top: 5px;
    margin-left: 20%;
    color: #2e2687;
}
.contact_item1 p>a{
    text-decoration: none;
      color: #2e2687;
}


.contact_item2{
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
}




.c_right{
    width: 55%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(143, 142, 142, 0.248);
}
.c_right form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 40px;
    gap: 10px;
}
.form label{
    margin-top: 10px;
    font-size: 16px;
}
input,textarea{
    padding: 12px 10px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgba(197, 196, 196, 0.43);
    transition: 0.1s linear;
    
}
input:focus,textarea:focus{
    border-color: #2e04d5;
}
.form button{
 width:28%;
 font-size: 18px;
 background-color: #201a61;
 border: none;
 padding:  15px 10px;
 border-radius: 5px;
 cursor: pointer;
 color: white;
 margin:40px auto 20px auto;
}
.R-btn{
  position: absolute;
  right: 3%;
  top: 1%;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background-color: #100a4a;
  color: #fff;
  border-radius: 5px;
  display: none;
}

.hidden-content{
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.2s linear, transform 0.6s linear;
}

.hidden-content.visible {
  opacity: 1;
  transform: translateY(0);
}
/* Medium devices (tablets, 768px to 991px) */
@media (max-width: 991px) {
  body {
    position: relative; /* remove fixed for better scrolling */
  }
  .container {
    flex-direction: column;
    height: auto;
  }
  .item {
    width: 100%;
    height: auto;
    padding: 15px 0;
    justify-content: center;
  }
  .bottom > ul {
    width: 90%;
  }
  .resume {
    padding: 20px 15px;
  }
  .resume > h1 {
    font-size: 28px;
  }
  .project .pro_container {
    grid-template-columns: repeat(1, 90%);
    gap: 40px;
  }
  .skills {
    padding: 20px 15px;
  }
  .skill_con {
    flex-direction: column;
    height: auto;
  }
  .sec {
    width: 100%;
  }
  .achievements {
    padding: 20px 15px;
  }
  .achievement_con {
    flex-direction: column;
    height: auto;
  }
  .ach {
    width: 80%;
    height: auto;
    margin: 20px auto;
  }
  .contact_con {
    flex-direction: column;
    gap: 20px;
  }
  .c_left, .c_right {
    width: 100%;
  }
  .form button {
    width: 50%;
  }
}

/* Small devices (landscape phones, 576px to 767px) */
@media (max-width: 767px) {
  body {
    position: relative;
    font-size: 14px;
  }
  .item .top ul {
    gap: 10px;
  }
  .item .top ul li a {
    font-size: 24px;
  }
  .bottom > ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    margin-top: -20px;

  }
 

  .heading{
    display: none;
  }
  .resume {
    padding: 15px 10px;
  }
  .resume > h1 {
    font-size: 22px;
  }
  .resume > .hidden-content {
    width: 90%;
  }
  h3 {
    font-size: 18px !important;
  }
  ul li {
    font-size: 14px;
  }
  .project .pro_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,280px);
    gap: 30px;
  }
  .skill_con {
    flex-direction: column;
  }
  .sec {
    width: 100%;
  }
  .contact_con {
    flex-direction: column;
  }
  .c_left, .c_right {
    width: 100%;
  }
  .form button {
    width: 70%;
  }
}

/* Extra small devices (phones, less than 575px) */
@media (max-width: 575px) {

    *{
        padding: 2px;
    }
  body {
    font-size: 13px;
    position: relative;
  }
  .item {
    padding: 10px 0;
  }
  .item .top img {
    width: 120px;
  }
  .item .top ul {
    gap: 8px;
  }
  .item .top ul li a {
    font-size: 20px;
  }
  .bottom > ul {
    width: 80%;
    gap: 15px;
  }
  .down{
    display: block;
    height: auto;
  }
  .down .left{
    display: none;
  }
  .down .right{
    position: absolute;
    left:0;
    width: 100%;
    height: auto;
  }
  .pinfo p span {
    color: black;
    font-size: 11px;
    position: absolute;
    /* left: 0; */
  }
  .resume {
    padding: 10px 10px;
  }
  .resume > h1 {
    font-size: 18px;
  }
  .resume > .hidden-content {
    width: 100%;
  }
  .R-btn{
    display: block;
  }
  ul li {
    font-size: 13px;
  }
  .project .pro_container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .skill_con {
    flex-direction: column;
    gap: 20px;
        margin-bottom: 30px;
  }
  .sec {
    width: 100%;
  }
  .contact_con {
    flex-direction: column;
  }
  .c_left, .c_right {
    width: 100%;
  }
  .form input, .form textarea {
    font-size: 16px;
  }
  .form button {
    width: 90%;
  }
  .cr{
    width: 100%;
    height: 250px;
  }
  .certificat_con {

    grid-template-columns: repeat(1, 1fr);

  }
  .s_para{
        margin-bottom: -200px;
  }
  .ach {
    height: 400px;
    margin-top: 200px;
  }
  .c_left{
    margin-top: 200px;
  }

}

/* Helper for overflow on small screens */
@media (max-width: 767px) {
  .resume, .project, .skills, .contact {
    overflow-x: auto;
  }
}
